#top-navi{
    display: flex;
    justify-content: space-between;
}
#number-1{
    background-color: red;

}
#number-2{
    background-color: blue;

}
#center{
    height: 100vh;
    background-color: plum;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}
#location{
    align-self: flex-start;
}
#bottom-navi{
    display: flex;
    width: 100%;
    background-color: red;
    flex-direction: row;
    justify-content:space-between;
}
#logo{
    max-height: 500px;
    min-height: 200px;
}